#app {}

.sidebar {
    width: 80px;
    height: 100vh;
}

.nav .icon {
    font-size: 30px;
    color: yellow;
}

.nav .active {
    background-color: #fff;
    color: #000 !important;
}

.nav .active .icon {
    color: #000 !important;
}

.sidebar .nav-link {
    color: #fff;
}


/* inner navbar */

.inner-navbar {
    padding: 12px;
    color: red;
    font-size: 20px;
}


/* end inner navbar */


/* inner sidebar */

.inner-sidebar .active {
    font-weight: 600;
    color: yellow !important;
    background-color: #000;
}

.inner-sidebar-item {
    font-weight: 500;
}

.term {
    font-size: 12px;
}


/* end inner sidebar */


/* main content */

.main-content .icon {
    font-size: 20px;
}

.card {
    background-color: rgba(0, 0, 0, .03);
}

.card-header {
    border-bottom: none;
    background: none;
    padding-bottom: 0;
}

.card-item {
    background-color: #fff;
}


/* end main content */


/* options */

.todo-content {
    flex-grow: 1;
}

.todo-content .content {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* end options */